.container{
    display: flex;
    gap: 10px;
}

.title{
    text-align: center;
}

.title > h1{
    margin-bottom: 0px; 
    margin-top: 10px;
    font-family: 'Arvo', serif;
    font-size: 5rem;

}
.title > h3{
    margin-top: 0px;
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 2rem;
}

.div1, .div2, .div3, .div4{
                           padding-left: 35%;
                           margin-bottom: 20px;
}

.div1 > label{
    font-size: 20px;
    font-family: 'Arvo', serif;
}

.div1 > div > textarea{
    height: 150px;
    width: 600px;
    border: 0;
    border-radius: 10px;
    background-color: #91C8E4;
    font-size: 22px;
    font-family: 'Edu SA Beginner', cursive;
    color: black;
    display: block;
}

.div2 > label{
    font-size: 20px;
    font-family: 'Arvo', serif;
}

.div2 > div > input{
    height:40px;
    width: 500px;
    border: 0;
    border-radius: 10px;
    background-color: #91C8E4;
    font-size: 22px;
    font-family: 'Edu SA Beginner', cursive;
    color: black;
    display: block;
}


#generate-button{
    padding: 10px;
    font-size: 20px;
    font-family: 'Arvo', serif;
    border-radius: 10px;
    background-color: #1597BB;
    color: white;
    border: none;
}
#upload_image{
    font-size: 20px;
    font-family: 'Arvo', serif;
    color: black;
}

textarea:focus, input:focus{
    outline: none;
}

.div4{
    display: flex;
    gap: 5px;
}
.div4 > div > img{
    margin-top: -10px;
}

#eyed_field, .div1 > div{
    display: flex;
    }

#eyed_field > img{
    
    margin-left: -48px;
    background-color: #91C8E4;
    padding: 5px;
    border-radius: 10px;
}


@media(max-width: 1000px) and (min-width: 600px){
    .div1, .div2, .div3, .div4{
        padding-left: 5%;
        padding-right: 5%;
        margin-bottom: 20px;
        justify-content: center;
        
        
}

.div3{
    text-align: center;
}

.div2> label, .div1> label{
    position: relative;
    left: 15%;
}

#textarea, #passwordfield{
    width: 70%;
    margin: auto;
}
#img1{
    position: relative;
    right: 15%;
}
}

@media(max-width: 599px){
    .title > h1{
        margin-bottom: 0px; 
        margin-top: 10px;
        font-family: 'Arvo', serif;
        font-size: 45px;
    
    }
    .title > h3{
        margin-top: 0px;
        font-family: 'Alegreya Sans', sans-serif;
        font-size: 25px;
    }

    .div1> label, .div2> label{
        margin-top: 0px;
        font-family: 'Alegreya Sans', sans-serif;
        font-size: 20px;
    }

    .div1, .div2{
        padding-left: 5px;
        padding-right: 5px;
        margin-bottom: 20px;
        margin-left: 4%;
}
    .div3, .div4{
        position: relative;
        right: 30%;
        
    }
    #textarea{
        width: 500px;
    }

    #passwordfield{
        width: 340px;
    }

    #img1{
        position: relative;
        
    }

   
}


